# Prioritize Dart
*.dart linguist-detectable=true

# Mark CMake files as vendored (ignored for language stats)
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored
